

// Hide style
.dnr-menu.ng-cloak
  display none!important
.dnr-menu.ng-hide
  width 0px!important
  display block!important
.titlenav.ng-hide
  right calc( 100% - 100px )!important
  display block!important
.social-view.ng-hide
  right 100%!important
  display block!important
.dnr-social-scroll.ng-hide
  display block!important
  overflow hidden!important
.social-banners.ng-hide
  opacity 0!important
  display block!important

.gototop svg.rotate
    transform rotate(0deg)!important

// Animate style
.dnr-menu, .dnr-slate, .dnr-social-nav-links li:before, .dnr-menu, .titlenav
  transition width 0.3s ease

.social-banners
  transition opacity 0.3s ease

.titlenav, .social-view
  transition right 0.3s ease

.gototop svg
  transition transform 0.3s ease

.svg-icon path
  transition fill 0.3s ease-in-out

p, b, h1, h2, h3, h4, h5, h6, span
  transition font-size 0.3s ease-in-out


.scroll-indicator
  transition top .2s linear
.dnr-flow-vlelem
  transition border-left-width .2s linear,
             background .2s ease
.dragbar svg
  transition background .2s ease


.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave
  transition all 0.5s ease-in-out
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter
  opacity 0
  max-height 0
.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active
  opacity 1
  max-height 10%


[ui-view].ng-enter, [ui-view].ng-leave
    transition all .5s ease-in-out

[ui-view].ng-enter
  overflow hidden
  opacity 0

[ui-view].ng-enter-active
  opacity 1

[ui-view].ng-leave
  opacity 1

[ui-view].ng-leave-active
  opacity 0



// Sidefeed

.animate-switch.ng-animate
  -webkit-transition all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s
  transition all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s

  position absolute
  top 0
  left 0
  right 0
  bottom 0

.animate-switch.ng-leave.ng-leave-active
  left 100%
  z-index 10

.animate-switch.ng-enter
  left 100%
  z-index 11

.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active
  left 0px
  z-index 11


.animate-switch-header.ng-animate {
  transition:all ease .5s;
  transition-delay .5s
}


.animate-switch-header.ng-leave.ng-leave-active,
.animate-switch-header.ng-enter {
  top:10px;
  opacity 0
}
.animate-switch-header.ng-leave,
.animate-switch-header.ng-enter.ng-enter-active {
  top:-70px;
  opacity 1
}