//
// Imports
//

@import 'reset.css'
@import 'utils.styl'
@import 'forms.styl'
@import 'dunnerbox.styl'
@import 'social.styl'
@import 'sidefeed.styl'
@import 'titlenav.styl'
@import 'navigation.styl'
@import 'chareditor.styl'
@import 'animations.styl'
@import 'responsive.styl'

//
// Typographic
//

presets(minor-second)

html
  font-family 'Open Sans', sans-serif
  font-size 12px
  @media (min-width 600px)
    font-size 14px
  @media (min-width 800px)
    font-size 16px
  @media (min-width 1000px)
    font-size 18px

t-headers('Open Sans')

//
// Other
//

*
  margin 0
  padding 0
  box-sizing border-box
  position relative


body, html
  margin 0
  padding 0
  width 100%
  height 100%
  overflow hidden
  position relative

/* apply a natural box layout model to all elements, but allowing components to change */
html
  box-sizing border-box

*, *:before, *:after
  box-sizing inherit

ul
  margin 0px

a
  text-decoration none
  color black



