



// Responsive: Portrait tablets and up
@media (min-width 1280px)
  .dnr-menu
    width 300px
  .dnr-slate-push
    width calc(100% - 300px)

@media (max-width: 1280px)
  .dnr-menu
    width 250px
  .dnr-slate-push
    width calc(100% - 250px)

@media (max-width: 800px)
  .dnr-menu
    width 200px
  .dnr-slate-push
    float none !important
    width 100% !important
  ul.double li, ul.tripple li
    float none !important
    margin-left 0px !important
    width 100% !important

@media (max-width: 600px)
  .dnr-side-feed
    display none !important
  .dnr-social
    width 100% !important
    left 0px !important
  .social-view
    width 100% !important
    right 0px !important
  .social-banners
    display none !important
  .titlenav
    width 100%!important
    right 0px!important
  .dnr-menu
    width 120px !important
  .dnr-slate-push
    float none !important
    width 100% !important
  button
    width 100%