.titlenav
  width 80%
  height 70px
  background #fff
  border-bottom: 1px solid $chromeWhite;
  position absolute
  right 20%
  top 0px
  z-index 22

  &.closed
    width 100%
    right 0px
    height 70px
    background $accent
    & *
      line-height 70px!important
      color white!important
    & .gototop
      width 70px!important
      padding 0px!important
      float left!important
      & svg
        fill white!important
        transform rotate(-180deg)!important

  & .dnr-burger
    position absolute
    top 0px
    right 0px
    cursor pointer
    width 70px
    height 70px
    z-index 24
    & svg
      fill black
      &:hover
        fill red!important
        
  & .toplinks
    text-align left
    overflow hidden
    padding-left 20px
    height 40px
    & h2
      line-height 40px
      color black

  & .documenttitle
    text-align left
    overflow hidden
    padding-left 20px
    height 30px
    & h4
      line-height 30px
      color black
      

      
  & .gototop
    position absolute
    top 0px
    right 0px
    cursor pointer
    width 70px
    height 70px
    & svg
      transform rotate(-90deg)
      &:hover
        fill red

  &::after
    content ''
    display block
    clear both