.titlenav
  width 80%
  height 80px
  background #fff
  position absolute
  right 20%
  top 0px
  z-index 22

  & > *
    float left

  &.closed
    width 100%
    right 0px
    height 55px
    background $accent
    & *
      line-height 55px!important
      color white!important
    & .gototop
      width 55px!important
      padding 0px!important
      float left!important
      & svg
        fill white!important
        transform rotate(-180deg)!important

  & .dnr-burger
    cursor pointer
    width 80px
    height 80px
    background $accent
    box-shadow 2px 0px 2px 2px rgba(0,0,0,0.1)
    z-index 24
    & svg
      fill white
      &:hover
        fill red!important

  & .documenttitle
    text-align left
    overflow hidden
    padding-left 20px
    & h1
      line-height 80px
      color black

  & .gototop
    float right
    width 100px
    height 100%
    cursor pointer
    padding 0px 10px 0px 10px
    & svg
      transform rotate(-90deg)
      &:hover
        fill red

  &::after
    content ''
    display block
    clear both