
.mast-container
  position relative
  width 100%
  height 100%

  &:after
    content ''
    display block
    clear both

  & .mast-userarea
    width 350px
    height 100%
    padding 10px
    padding-left 75px
    position relative
    float left
    color white
    & .icon
      position absolute
      overflow hidden
      left 0px
      top 0px
      border 5px solid #444
      width 70px
      height 70px
      background url(http://i.gyazo.com/c6cd7131f4d8df71718f6545b2219fd5.png)
      background-position 50%
      background-size 100%
        
        
  & .mast-navigation
    width calc( 75% - 350px )
    float left
    display table
    height 70px
    table-layout fixed
    & ul
      margin 0
      padding 0
      display table-row
    & li
      list-style none
      cursor pointer
      text-align center
      height 50px
      display table-cell
      color white
      line-height 70px
      text-transform uppercase
      &:before
        content ''
        display block
        position absolute
        left 0px
        top 10px
        bottom 10px
        width 1px
        background rgba(0,0,0,.3)
      &:last-child:after
        width 0px
      & a
        display block
        width 100%
        height 100%
        color #bbb
        &:hover
          color white
  & .mast-tracker
    width calc( 25% - 350px )
    float left
    height 70px