

<ul class="double">
  <li>
    <div class="bg-dCont pad20 f-white">
      <h6>{{cUser.local.email}}</h6>
    </div>
  </li>
  <li>
    <div class="bg-dCont pad20 f-white">
      <h6>{{cUser.local.email}}</h6>
    </div>
  </li>
</ul>

<ul class="tripple">
  <li>
    <div class="bg-dCont pad20 f-white">
      <h6>{{cUser.local.email}}</h6>
    </div>
  </li>
  <li>
    <div class="bg-dCont pad20 f-white">
      <h6>{{cUser.local.email}}</h6>
    </div>
  </li>
  <li>
    <div class="bg-dCont pad20 f-white">
      <h6>{{cUser.local.email}}</h6>
    </div>
  </li>
</ul>