



<div dnr-pageslide class="dnr-slate-scroll">

  <div class="dnr-slate-slide slide-standard full-slide">
    <div class="dnr-slate-slide slide-standard" style="height: 200px"></div>

    <div class="dnr-slate-slide slide-white">
      <!-- Push form -->
      <div class="dnr-slate-push">
        <ul class="double">
          <li>
            <div class="fcenter" style="width: 100px">
              yo
            </div>
          </li>
          <li>
            <form id="todo-form" ng-submit="addTodo(newTodo)">
              <input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" autofocus="">
              <button type="submit">Send</button>
            </form>

            <div ng-repeat="item in todos">
              {{item.createdAt | date:"MM/dd/yyyy 'at' h:mma"}}
              <br />
              {{item.title}} |
              {{item.completed}}
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="dnr-slate-slide slide-lime full-slide">
    <div class="dnr-slate-push">
      <div ng-include src="'views/footer.html'"></div>
    </div>
  </div>

</div>