

<div class="post-new">

  <form class="post-form" ng-submit="addTopic(topic)">

    <input name="title" id="new-title" type="text" placeholder="Title" ng-model="topic.title" autofocus="" />

    <select ng-model="topic.category">
      <option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
    </select>

    <div text-angular class="input-content" id="new-content" name="content" ng-model="topic.content" autofocus="" ></div>

    <button type="submit" class="dnr-button button button-ok">Post</button>

    <div style="clear:both"></div>
  </form>
  
</div>