

<ul class="double">
  <li>
    <div class="bg-dCont pad20 f-black">
      <div class="bg-cCont f-black" style="height:40px">
        <h5 style="line-height: 40px; text-align: center">User</h5>
      </div>
      {{user.name}}
      <button ng-click="addFriend()" ng-show="!isBuddy(userId)">Add friend</button>
      <button ng-click="MessageService.openChat(userId, user.name)">Message</button>

    </div>
  </li>
  <li>
    <div class="bg-dCont pad20 f-black">
    </div>
  </li>
</ul>
<div class="bg-dCont f-white" style="margin-bottom:15px">

  <ul class="charEdit">
    <li>
      <svg width="80%" height="100%" dnr-avatar paperdoll="user.paperdoll" viewBox="0 0 744 1052"></svg>
      
    <li>
     
    </li>
  </ul>
</div>
